[dev-packages]
flake8 = {version = ">=3.0",license = "New MIT"}
pytest = {version = ">=5.0",license = "New MIT"}
pytest-cov = {version = "*",license = "New MIT"}
jupyter = {version = "*",license = "New BSD"}
jupyterlab = {version = "*",license = "New BSD"}
black = {version = "*",license = "New BSD"}

[packages]
arviz = {version = ">= 0.8"} # bug in plot density when passing axes.
numpy = {version = "*"}
tensorflow = {version = "==2.1.0"} # apparent dependency conflict in 2.2.0 with pandas
tensorflow_probability = {version = "==0.9"}
seaborn = {version = "*"}
scikit-learn = {version = "*"}
pandas = {version = "*"}
pymc3 = {version = "*"}

[pipenv]
allow_prereleases = true
